mixin service-list(data)
  .service-list
    .service-item
      .service-item__content
        .service-item__title ПОЛНОЕ ВЕДЕНИЕ БУХГАЛТЕРСКОГО И НАЛОГОВОГО УЧЕТА
        .service-item__text
          p Весь бухгалтерский и налоговый учет ведется специалистами нашей компании, в том числе и функции главного бухгалтера Вашего предприятия.
          p В этом случае мы полностью берем на себя функции Вашей бухгалтерии: от обработки первичной документации до составления и сдачи ежемесячной, квартальной, годовой бухгалтерской и налоговой отчетностей.
          p Руководитель компании назначает сотрудника, ответственного за сбор и периодическую отправку на наш адрес первичной документации в сроки, оговоренные в договоре между нами с помощью нашего курьера. 
      .service-item__icon
        img(src="%=static=%images/assets/service-list/service-1.png" alt="")


    .service-item
      .service-item__icon
        img(src="%=static=%images/assets/service-list/service-2.png" alt="")
      .service-item__content
        .service-item__title ЧАСТИЧНОЕ ВЕДЕНИЕ БУХГАЛТЕРСКОГО И НАЛОГОВОГО УЧЕТА
        .service-item__text
          p Ваш Главный бухгалтер остается при Вас, но весь учет ведется нами. Он осуществляет контроль над нашей работой, анализирует данные и занимается формированием управленческой отчетности в формате, понятном руководству Вашей компании.
          p Ваш Главный бухгалтер будет иметь возможность контролировать процесс ведения учета и составления бухгалтерской и налоговой отчетности, анализировать получаемую информацию и сконцентрироваться на реальных нуждах компании.


    .service-item
      .service-item__content
        .service-item__title ВЕДЕНИЕ КАДРОВОГО УЧЕТА
        .service-item__text
          p Ведение учета кадров, – процесс довольно кропотливый и требующий повышенной внимательности, хорошего знания законодательства, наличия определенных навыков при составлении текущих и отчетных документов и бумаг.
          ul
            li Составление трудовых и гражданско-правовых договоров с сотрудникам
            li Делопроизводство. 
            li Приказы
            li Учетная кадровая документация
            li Расчет зарплаты
      .service-item__icon
        img(src="%=static=%images/assets/service-list/service-3.png" alt="")


    .service-item
      .service-item__icon
        img(src="%=static=%images/assets/service-list/service-4.png" alt="")
      .service-item__content
        .service-item__title ВЫПОЛНЕНИЕ ОТДЕЛЬНЫХ УЧЕТНЫХ ФУНКЦИЙ
        .service-item__text
          p Мы выполняем часть функций бухгалтерии по Вашему выбору. В этом варианте обслуживания Вы можете, например, поручить нам решение только сложных учетных задач по финансово-хозяйственным операциям Вашей компании или наоборот доверить нам выполнение рутинных операций. Дополнительно по согласованию сторон работники нашей компании могут выполнять следующие виды операции: 
          ul
            li Разработкa методики бухгалтерского учета;
            li Проверка  первичных документов и их хранениe;
            li Учет заработной платы;
            li Расчет командировочных;
            li Выписывание счетов/наклaдных; 
            li Учет склада/товара; 
            li Контроль дебиторских и кредиторских задолженностей; 
            li Платежи через интернет-банк; 
            li Списание топлива и контроль его использования;
            li Составление отчетa о прибыли или убытках, составление оперативного   баланса;
            li Подготовка отчетов руководству предприятия;
            li Учет бухгалтерии физических лиц, составление налоговых деклараций и отчетов;
            li Восстановление бухгалтерского учета (полное/частичное);
            li Консультации по бухгалтерскому и налоговому учету;
            li Независимая оценка правильности ведения учета;
            li Проверка первичных документов и их соответствие действующему законодательству
            li Выезд нашего специалиста для представления интересов клиента в уполномоченные органы;
            li Проведение инвентаризации активов Вашей компании;
            li Продажа готовых латвийских фирм ;(возможно стоит вывести в отдельный ряд услуг)
            li Перерегистрация фирмы; (возможно стоит вывести в отдельный ряд услуг)
            li Переплет и архивация первичных бухгалтерских документов.ция
            li Расчет зарплаты