mixin blog-list(data)
  .blog-list
    - for (var i = 0; i < 5; i++)
      .blog-list-item
        a(href="#" title="").blog-list-item__link Перенос бизнеса в Латвию
        .blog-list-item__date 08 Декабря 2015

        .blog-list-item__text О переносе бизнеса в другую страну стоит задуматься в том случае, если вести его на прежнем месте становиться по определенным причинам некомфортно или нецелесообразно. Изменения в законодательстве, высокая стоимость квалифицированного персонала, нестабильность в регионе - все это может стать причиной частичного или полного переноса бизнеса.

        a(href="#" title="").button._blue.blog-list-item__more Читать далее

        .blog-list-item__tags 
          strong Теги: 
          | ВНЖ в Латвии, открытие бизнеса в Латвии, вид на жительство в Латвии

    a(href="#" title="").button._more Показать еще статьи