extends ./__layout.pug

block header
  +header()._white

block content
  +header-banner('Калькулятор расчета зарплаты', 'С помощью калькулятора заработной платы вы можете произвести расчет зарплаты в обоих направления')._small

  +calculator()