extends ./__layout.pug

block header
  +header()._white

block content
  +header-banner('SIA Profit mark предлагает квалифицированных специалистов <br>и широкий спектр бухгалтерских услуг')._small
  +service-list()
  +callback()