mixin contact-list(data)
  .contact-list
    .contact-list-block._phone
      .contact-list-block__content
        .contact-list-block__item Тел. +371 67-296-301
        .contact-list-block__item Факс +371 67-296-302
        .contact-list-block__item Моб. +371 26-542-651

    .contact-list-block._email
      .contact-list-block__content
        .contact-list-block__item 
          a(href="#" title="") info@profitmark.lv
        .contact-list-block__item 
          a(href="#" title="") info@profit.lv

    .contact-list-block._skype
      .contact-list-block__content
        .contact-list-block__item 
          a(href="#" title="") Profitmark
      