.recommend {
  width: 206px;
  &__title {
    margin-bottom: 15px;

    color: #333;

    font-size: 18px;
    font-weight: 700;
  }
  &__item {
    position: relative;

    display: block;

    margin-bottom: 10px;
    padding-left: 21px;

    color: $blue;

    font-size: 14px;
    &:before {
      position: absolute;
      top: 5px;
      left: 0;

      display: block;

      content: "";

      @include bg($info);
    }
  }
}
