mixin recommend(data)
  .recommend
    .recommend__title Рекомендуем

    a(href="#" title="").recommend__item Как открыть банковский счет в Латвии
    a(href="#" title="").recommend__item Описание холдингового режима в Латвии
    a(href="#" title="").recommend__item Зачем нужен виртуальный офис в Латвии
    a(href="#" title="").recommend__item Какие формы регистрации бизнеса существуют в Латвии