// Mixins.

@mixin nl {
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-position: outside;

  text-indent: 0;
}

@mixin cf {
  &:before,
  &:after {
    display: table;

    content: "";
  }
  &:after {
    clear: both;
  }
  .lt-ie8 & {
    zoom: 1;
  }
}

@mixin blocks-justify {
  text-align: justify;
  text-justify: newspaper;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
}

// You can add your own mixins here:
