mixin blog-category(data)
  .blog-category
    a(href="#" title="").blog-category__item._active Актуально
    a(href="#" title="").blog-category__item Бухгалтерия
    a(href="#" title="").blog-category__item Налоги