mixin footer(data)
  .footer
    .footer__wrapper
      .footer__logo Profit Mark
      
      .footer-menu
        a(href="#" title="").footer-menu__item О компании
        a(href="#" title="").footer-menu__item Услуги
        a(href="#" title="").footer-menu__item Статьи
        a(href="#" title="").footer-menu__item Контакты

      .footer-social
        img(src="%=static=%images/assets/footer/social.png" alt="")
        //- a(href="#" title="").footer-social__item._twitter Twitter
        //- a(href="#" title="").footer-social__item._facebook Facebook
        //- a(href="#" title="").footer-social__item._linkedin Linkedin
        //- a(href="#" title="").footer-social__item._pintrest Pintrest
