mixin clients(data)
  .clients
    .clients__title.title Наши клиенты
    .clients__text Большинство наших клиентов составляют фирмы со средним объемом реализации, <br>в которых не требуется ежедневного присутствия бухгалтера. 

    .clients__list
      .clients__item
        img(src="%=static=%images/assets/clients/client1.png" alt="")
      .clients__item
        img(src="%=static=%images/assets/clients/client2.png" alt="")
      .clients__item
        img(src="%=static=%images/assets/clients/client3.png" alt="")
      .clients__item
        img(src="%=static=%images/assets/clients/client4.png" alt="")
      .clients__item
        img(src="%=static=%images/assets/clients/client5.png" alt="")