mixin advantages(data)
  .advantages
    .title.advantages__title Доверяя ведение бухгалтерского учета нам, вы получаете <br> ряд преимуществ для вашего бизнеса.

    .advantages-item._three._cost-cutting
      .advantages-item__title Экономия средств. 
      .advantages-item__text Стоимость услуг бухгалтерского обслуживания гораздо ниже, чем затраты на построение собственной структуры.

    .advantages-item._three._save-job
      .advantages-item__title Экономия рабочего места. 
      .advantages-item__text Создание собственной бухгалтерии требует дополнительные офисные площади, мебель, оргтехнику, канцтовары, справочно-правовые системы, лицензионное программное обеспечение.

    .advantages-item._three._no-failure-operation
      .advantages-item__title Постоянная безотказная работа. 
      .advantages-item__text Собственным бухгалтерам вы обязаны предоставлять ежегодный отпуск, декретный отпуск, больничный и т.п. Мы работаем постоянно.

    .advantages-item._two._saving-time
      .advantages-item__title Экономия времени. 
      .advantages-item__text Подбор кадров — непростая задача, требующая времени. Инфраструктура, технологии и специалисты, необходимые вам, уже в наличии.

    .advantages-item._three._guaranteed-quality
      .advantages-item__title Гарантированное качество 
      .advantages-item__text и застрахованную деятельность наших специалистов.

    a(href="#" title="").advantages-calculate._salary Калькулятор зарплаты
      span (до/после уплаты налогов)

    a(href="#" title="").advantages-calculate._service-cost Калькулятор примерной <br>стоимости услуг