.header {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;

  display: flex;

  height: 100px;
  margin: auto;

  border-bottom: 1px solid rgba($white, .1);

  align-items: center;
  @extend .wrapper;
  justify-content: space-between;
  &__logo {
    display: block;

    text-indent: -9999px;

    @include bg($logo-header);
  }
}
