.header {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;

  display: flex;

  height: 100px;
  margin: auto;

  border-bottom: 1px solid rgba($white, .1);

  align-items: center;
  @extend .wrapper;
  justify-content: space-between;
  &__logo {
    display: block;

    text-indent: -9999px;

    @include bg($logo-header);
  }
  &._white {
    position: relative;
    .header__logo {
      @include bg($logo-header-blue);
    }
    .top-menu {
      &__item {
        color: $blue;
        span {
          border-bottom-color: rgba($blue, .35);
          text-shadow: none;
        }
        &:hover {
          span {
            border-bottom-color: $blue;
          }
        }
        &._active {
          border-top-color: $blue;
          span {
            color: $black;
          }
        }
      }
    }
    .header-contacts__email {
      color: $blue;
      &:hover {
        border-bottom-color: rgba($blue, .35);
      }
    }
    .header-contacts-phone {
      &__item {
        color: $black;
      }
    }
  }
}
