mixin blog-post(data)
  .blog-post
    h1 Перенос бизнеса в Латвию

    .blog-post__date 08 Декабря 2015

    h2 Зачем переносить бизнес в другую страну?
    
    p О переносе бизнеса в другую страну стоит задуматься в том случае, если вести его на прежнем месте становиться по определенным причинам некомфортно или нецелесообразно. Изменения в законодательстве, высокая стоимость квалифицированного персонала, нестабильность в регионе - все это может стать причиной частичного или полного переноса бизнеса.

    p Часто перенос или открытие бизнеса в Латвии становиться основанием получения ВНЖ в Латвии. Так как с точки зрения правительства такой способ рассматривается, как инвестирование в экономику страны, то и процедура получения вида на жительство значительно упрощается.
 
    h2 Перенос бизнеса и получение ВНЖ в Латвии
    
    p Перенося бизнес в Латвию, вы можете переехать сюда со всей семьей. В данном случае процедура получения вида на жительство в Латвии сильно упрощена, так как государство заинтересовано привлекать предпринимателей и инвестиции в экономику.

    p В Латвии идеальная экология, высокий уровень медицины и образования. Уровень жизни значительно превышает средний показатель по странам СНГ. Эта страна отлично подходит для воспитания детей с заботой об их будущем и окружении.
 
    p В Латвии принципиально другой уровень отношений между государством и населением. Это напрямую выражается в общем комфорте жизни, социальной и физической защищенности каждого члена семьи.
 
    p Здесь во всех гос. учреждениях к вам относятся как к клиенту, ценят ваше время и комфорт, стремятся упросить вашу жизнь.

    .blog-post__tags 
      strong Теги: 
      | ВНЖ в Латвии, открытие бизнеса в Латвии, вид на жительство в Латвии

    .blog-post__social
      img(src="%=static=%images/assets/social/social.png" alt="")

    .blog-post__comments
      img(src="%=static=%images/assets/comments/disqus.png" alt="")