mixin qualification(data)
  .qualification
    .qualification__content
      .qualification__title SIA Profit mark предлагает квалифицированных <br>специалистов и широкий спектр бухгалтерских <br>услуг
      .qualification__text Наш опыт работы, позволяет Вам сконцентрировать свои силы на стратегии ведения бизнеса и распределить свои внутренние ресурсы более эффективно. Привлекая нашу компанию к ведению бухгалтерского учета, руководство компании имеет возможность получить наиболее верную, точную и достоверную информацию, тем самым, уменьшив вероятность возникновения бухгалтерских ошибок.