mixin top-menu(data)
  .top-menu
    .top-menu__mobile
    .top-menu__list
      a(href="#" title="").top-menu__item._active
        span О компании
      a(href="#" title="").top-menu__item 
        span Услуги
      a(href="#" title="").top-menu__item 
        span Блог
      a(href="#" title="").top-menu__item 
        span Контакты