mixin callback(data)
  .callback
    .callback__wrapper
      .callback__title Есть вопросы? Хотите узнать подробнее?
        span Расскажем о всём, посчитаем стоимость

      .callback-form
        .callback-form__field
          input(type="phone" value="" placeholder="Ваше имя, телефон")
        input(type="button" value="Перезвоните мне").button._green._xl._submit