.header-banner {
  position: relative;

  min-height: 600px;

  background: url(%=static=%assets/header-banner/bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__content {
    text-align: center;

    @include absolute-center;
  }
  &__title {
    color: $white;

    font-size: 43px;
  }
  &__subtitle {
    margin-bottom: 40px;

    color: $white;

    font-size: 20px;
  }
}
